body{
    font-family: 'Inter', sans-serif;
    background: #e6e6e6;
}

.prueba {
    flex-grow: 1;
}

.encriptador {
    display: flex;
}

.encabezado {
    width: 920px;
    padding: 2%;
    display: flex;
}

.titulo {
    display: inline-block;
    padding: 0 0 0 20px;
    vertical-align: 15%;
    font-weight: 600;
    color: darkblue;
    font-size: 300%;
}

.entrada {
    display: block;
    width: 90%;
    margin: auto 5%; 
    text-align: center;
}

.texto {
    color: darkblue;
    background: #e6e6e6;
    font-family: 'Inter', sans-serif;
    margin: 0 10px 0 10px;
    font-size: 200%;
    resize: none;
    border: none;
    outline: none;
}

.texto::placeholder {
    color: darkblue;
    opacity: 1;
}

.aviso {
    padding: 0 0 0 9%;
    text-align: left;
    font-size: 12px;
    margin: 1.5%;
    color: #343A40;
}

.animar_aviso {
    animation-name: cambioTamañoColor;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes cambioTamañoColor {
    0% { font-size: 13px; color: black; }
    50% { font-size: 14px; color: red; }
    100% { font-size: 13px; color: black; }

}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.encriptar {
    font-family: 'Inter', sans-serif;
    width: 300px;
    padding: 15px 0;
    margin: 0 5% 0 0%;
    font-size: 125%;
    font-weight: bold;
    color: white;
    border-color: white;
    background: #3135ff;
    border-radius: 20px;
    transition: 200ms;
    cursor: pointer;
}

.encriptar:hover, .salida .copiar:hover {
    background: #1f0dff;
    transform: scale(1.01);
}

.desencriptar {
    font-family: 'Inter', sans-serif;
    width: 300px;
    padding: 15px 0;
    margin: 0 5% 0 0%;
    font-size: 125%;
    font-weight: bold;
    color: #3135ff;
    border-color: #3135ff;
    background: #bdb3ff;
    border-radius: 20px;
    transition: 200ms;
    cursor: pointer;
}

.desencriptar:hover {
    background: #A79eff;
    transform: scale(1.01);
}

.salida {
    display: inline-block;
    width: 31%;
    height: 500px;
    margin: 1% 1%;
    text-align: center;
    background: white;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 5px #979797;
}

.resultado {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    width: 350px;
    height: 275px;
    color: #363636;
    font-size: 150%;
    margin: 8% 0 0 0;
    background-image: url("imagenes/search.png");
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
    pointer-events: scroll;  
    resize: none;
    border: none;
    outline: none;  
}

.resultado-titulo {
    font-weight: bold;
    font-size: 175%;
    color: #272727;
}

.resultado-texto {
    font-size: 110%;
    color: #4b4b4b;
}


.copiar {
    font-family: 'Inter', sans-serif;
    position: flex;
    justify-content: center;
    bottom: 25px;
    width: 300px;
    padding: 15px 0;
    font-size: 125%;
    font-weight: bold;
    color: white;
    border-color: white;
    background: #3135ff;
    border-radius: 20px;
    transition: 400ms;
    cursor: pointer;
    display: none;
}

.footer {
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0%;
    margin-top: 10px;
    padding-top: 50px;
    background-color: #5b5dfa;
}

@media screen and (max-width: 1080px) or (min-resolution: 150dpi) and (max-resolution:299dpi){
    
    .encabezado {
        width: 100%;
        padding: 5% 0 0 0;
        text-align: center;

    }

    .titulo {
        display: inline-block;
        margin: 0 auto;
        font-size: 250%;
    }

    .encriptador {
        display: block;
    }

    .entrada {
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        margin: auto auto 1em auto;
    }

    .texto {
        width: 93%;
        height: 520px;
    }

    .salida {
        width: 93%;
        position: flex;
        justify-content: center;
        margin: 10px 3%;
        text-align: center;
        padding: 1% 0;
        height: 150px;
    }

    .encriptar, .desencriptar {
        width: 40%;
        display: inline-block;
        padding: 15px 0;
        margin: 0 5% 0 0;
    }

    .resultado {
        width: 92%;
        position: relative;
        background-image: none;
        margin: 1.5%;
        padding: 1% 1%;
        display: none;
    }

    .resultado-titulo {
        width: 98%;
        text-align: center;
        margin: 2% 0 0 0;
        
    }
    
    .resultado-texto {
        width: 98%;
        margin: 2% 0 0 0;
        text-align: center;
    }

    .copiar {
        width: 90%;
    }

}

@media screen and (max-width: 600px) or (min-resolution: 300dpi) {

    .encabezado {
        width: 100%;
        padding: 5% 0 0 0;
        text-align: center;

    }

    .logo { 
        width: 30%;
    }

    .titulo {
        display: inline-block;
        margin: auto 0;
        font-size: 225%;
        
    }

    .encriptador {
        display: block;
    }

    .entrada {
        width: 100%;
        text-align: center;
        display: block;
        position: relative;
        margin: 1em auto 1em auto;
    }

    .texto {
        width: 93%;
        height: 70%;
    }
    
    .encriptar, .desencriptar {
        width: 90%;
        display: inline-block;
        padding: 0.75em 0;
        margin: 5px auto;
    }

    .salida {
        width: 90%;
        position: flex;
        justify-content: center;
        margin: 0% 5%;
        text-align: center;
        padding: 1% 0;
        height: 20%;
    }

    .resultado {
        width: 92%;
        position: relative;
        background-image: none;
        margin: 1.5%;
        padding: 1% 1%;
        display: none;
    }

    .resultado-titulo {
        width: 95%;
        text-align: center;
        font-size: 150%;
        margin: 2% 0 0 0;
        
    }
    
    .resultado-texto {
        width: 95%;
        margin: 2% 0 0 0;
        font-size: 125%;
        text-align: center;
    }

    .resultado{
        width: 85%;
        margin: auto;
    }

    .copiar {
        width: 85%;
        padding: 0.75em 0;
        margin: auto;
    }

    .footer {
        height: 10%;
    }

}

